<!DOCTYPE html>
<html>
  <head>
    <title>About page</title>
  </head>

  <body>
    <header>
      <h1>About page</h1>
    </header>

    <%= link_to 'Home', root_path %>

    <footer>
      <p>Thank you for visit</p>
    </footer>
  </body>
</html>
