<!DOCTYPE html>
<html>
  <head>
    <title>Stefan's page</title>
  </head>

  <body>
    <header>
      <h1>Stefan's page</h1>
    </header>

    <%= image_tag('ray', alt: 'Lightning over see image.', style:'width:80%') %>

    <p> <%= link_to 'About', about_path %> </p>

    <footer>
      <p>Thank you for visit</p>
    </footer>
  </body>
</html>
